<section data-ng-controller="VideosController" data-ng-init="findOne()">
	<h1 data-ng-bind="video.title"></h1>
	<div data-ng-show="authentication.user._id == video.creator._id">
		<a href="/#!/videos/{{video._id}}/edit">edit</a>
		<a href="#" data-ng-click="delete();">delete</a>
	</div>
	<small>
		<em>Posted on</em>
		<em data-ng-bind="video.created | date:'mediumDate'"></em>
		<em>by</em>
		<em data-ng-bind="video.creator.fullname"></em>
	</small>
	<p data-ng-bind="video.description"></p>
</section>
